.calendarMonth {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  table-layout: fixed;
}

.calendarMonth__header {
  font-weight: 600;
  font-size: 12px;
}

.calendarMonth__day {
  font-weight: 600;
  box-sizing: border-box;
  color: gray;
  font-size: 14px;
  border: 1px solid lightgray;
}

.calendarMonth__day--empty {
  border: 0px solid lightgray;
  background-color: #fff;
}

.calendarMonth__day--available {
  background-color: #fff;
}

.calendarMonth__day--disabled {
  background-color: #f5f5f5;
}

.calendarMonth__day--possible {
  background-color: rgba(172, 234, 231, 0.5);
}

.calendarMonth__day--selected {
  background-color: #aceae7;
  border-bottom: 3px solid #1fb4ff !important;
}

.calendarMonth__day--available:hover, .calendarMonth__day--possible:hover {
  background-color: #aceae7;
}

.calendarMonth__day--nonEmpty:active {
  background-color: #c8c8c8;
}